<div class="timeline-row">
  <div class="timeline-col">
    <h2>{{ title }}</h2>
  </div>
</div>
<div class="timeline-row">
  <div class="timeline-col">
    <h2>{{ title }}</h2>
  </div>
</div>
<div class="timeline-row">
  <div class="timeline-col">
    <h2>{{ title }}</h2>
  </div>
</div>
<div class="timeline-row">
  <div class="timeline-col">
    <h2>{{ title }}</h2>
  </div>
</div>
<div class="timeline-row">
  <div class="timeline-col">
    <h2>{{ title }}</h2>
  </div>
</div>
<div class="timeline-row">
  <div class="timeline-col">
    <h2>{{ title }}</h2>
  </div>
</div>
<div class="timeline-row">
  <div class="timeline-col">
    <h2>{{ title }}</h2>
  </div>
</div>
<div class="timeline-row">
  <div class="timeline-col">
    <h2>{{ title }}</h2>
  </div>
</div>
<div class="timeline-row">
  <div class="timeline-col">
    <h2>{{ title }}</h2>
  </div>
</div>
<div class="timeline-row">
  <div class="timeline-col">
    <h2>{{ title }}</h2>
  </div>
</div>